<p>
  <%= t('admin.badges.index.name') %>: <%= @badge.name %>
</p>
<p>
  <%= t('admin.badges.index.description') %>: <%= @badge.description %>
</p>
<p>
  <%= t('admin.badges.index.icon') %>: <%= @badge.icon %>
</p>
<p>
  <%= t('admin.badges.index.param') %>: <%= @badge.param %>
</p>
<p>
  <%= t('admin.tests.show.category') %>: <%= Category.find_by(id: JSON.parse(@badge.param)['category'])&.title %>
</p>
<p>
  <%= t('admin.tests.show.hard') %>: <%= JSON.parse(@badge.param)['level'] %>
</p>

<%= link_to t('admin.tests.test.edit'), edit_admin_badge_path(@badge) %>
<%= link_to t('admin.tests.show.back'), admin_badges_path %>
