<tr>
  <td><%= badge.name %></td>
  <td><%= badge.description %></td>
  <td><%= badge.icon %></td>
  <td><%= Category.find_by(id: JSON.parse(badge.param)['category'])&.title %></td>
  <td><%= JSON.parse(badge.param)['level'] %></td>
</tr>
