<tr>
  <td><%= badge.name %></td>
  <td><%= badge.description %></td>
  <td><%= badge.icon %></td>
  <td><%= Category.find(badge.category_id).title if badge.category_id %></td>
  <td><%= badge.level %></td>
</tr>
