<tr>
  <td><%= badge.name %></td>
  <td><%= badge.description %></td>
  <td><%= badge.icon %></td>
  <td><%= Category.find_by(id: badge.param).title if badge.rule == 'category' %></td>
  <td><%= badge.param if badge.rule == 'level' %></td>
</tr>
