<h1><%= t('.header', title: @survey.test.title) %></h1>

<p>
  <p><%= complete(@survey) %></p>
  <p style="color:<%= color(@survey) %>;">(<%= @survey.result %>%)</p>
  <%= content_tag(:p, t('.time_out')) unless @survey.success? %>
</p>

<p>
  <%= t('.correct') %>: <%= @survey.successfull %>
</p>

<p>
  <%= t('.total') %>: <%= @survey.total %>
</p>

<p>
  <% if @badges.any? %>
    <%= t('.award') %>:
    <table class="table">
      <tbody>
        <%= render partial: 'badge', collection: @badges %>
      </tbody>
    </table>
  <% end %>
</p>

<%= link_to t('admin.tests.show.back'), tests_path %>
