<h1><%= t('.header', title: @survey.test.title) %></h1>

<p>
  <p><%= complete(@survey) %></p>
  <p style="color:<%= color(@survey) %>;">(<%= @survey.result %>%)</p>
</p>

<p>
  <%= t('.correct') %>: <%= @survey.successfull %>
</p>

<p>
  <%= t('.total') %>: <%= @survey.total %>
</p>


<%= link_to t('admin.tests.show.back'), tests_path %>
