<h1>The <%= @survey.test.title %> Test was completed!</h1>

<p>
  <p><%= complete(@res) %></p>
  <p style="color:<%= color(@res) %>;">(<%= @res %>%)</p>
</p>

<p>
  Correct answers: <%= @correct %>
</p>

<p>
  Total questions: <%= @total %>
</p>


<%= link_to 'Back', tests_path %>
