<h1><%= t('.pass') %></h1>

<p>
  <%= t('.progress') %>: <%= @survey.number %> / <%= @survey.total %>
</p>

<b>
  <%= @survey.current_question.body %>
</b>

<%= form_with url: survey_path(@survey), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @survey.current_question.answers, :id, :body, include_hidden: false  do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to t('.gist'), gist_survey_path(@survey), method: :post %></p>
  <p><%= form.submit t('.next') %></p>
<% end %>
