<h1><%= t('.header') %></h1>

<table class="table">
  <thead>
    <tr>
      <td><%= t('admin.tests.index.title') %></td>
      <td><%= t('admin.tests.index.count') %></td>
      <td></td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.title %></td>
        <td><%= test.questions.count %></td>
        <td><%= link_to t('.show'), test_path(test), class: 'btn' %></td> 
        <td><%= button_to t('.start'), start_test_path(test), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
