<h1><%= t('.header') %></h1>

<%= form_with url: feedback_create_path do |form| %>

  <p>
    <%= form.label :email %>:<br>
    <%= form.email_field :email, value: current_user&.email, autocomplete: "email", required: :required %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, cols: 50, rows: 10, required: :required %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
