<h1><%= t('.header') %></h1>

<%= form_with url: feedback_create_path do |form| %>

  <p>
    <%= form.label :body, t('.body') %><br>
    <%= form.text_area :body, cols: 50, rows: 10 %>
  </p>

  <div class="actions">
    <%= form.submit t('.submit') %>
  </div>
<% end %>
